:root {
--dark-testimonials: hsl(219, 30%, 18%);
--dark-introemail: hsl(217, 28%, 15%);
--dark-body: hsl(218, 28%, 13%);
--dark-footer: hsl(216, 53%, 9%);
--cyan: #65e2d9;
--blue: #339ecc;
--red: #ff4242;
--green: #0ADD0A;
--white: #ffffff;
}

